.btn{
    margin-left: 10px;
   
}

.listItems{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;

}

.listItems:hover{
   border-radius: 5px;
   border: 1px solid red;
   
}
.close{
    color: gray;
    text-decoration: line-through;
}